<template>
  <ul class="nav-list">
    <!-- Heres where the "Home" icon would be -->
    <li class="nav-item">
      <nuxt-link to="/">
        Shared Services
      </nuxt-link>
    </li>
    <li class="nav-item">
      <nuxt-link to="/regsources">
        Registration Sources
      </nuxt-link>
    </li>
    <li class="nav-item">
      <nuxt-link to="/newsletters">
        Newsletters
      </nuxt-link>
    </li>
  </ul>
</template>

<style lang="scss" scoped>
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .nav-item {
        margin: 0 10px;
    }
    .nav-item a {
        text-decoration: none;
        color: #fefefe;
    }
    .nav-item a:hover,
    .nav-item a:active{
        color: #b4b4b4;
    }
    @media (max-width: 767px) {
        .nav-list {
            display: block;
        }
        .nav-item{
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
    @media (min-width: 768px) {
        .nav-list {
            display: flex;
        }
    }
</style>
