<template>
  <header>
    <div>
      <nuxt-link to="/" />
    </div>
    <div class="drawer-toggle" role="button" @click="$store.dispatch('nav/toggleSidebar')">
      <div class="bar" />
      <div class="bar" />
      <div class="bar" />
    </div>
    <div class="app-links">
      <app-links />
    </div>
    <div class="app-links">
      <header-actions />
    </div>
  </header>
</template>

<script>
import AppLinks from '@/components/layout/appLinks'
import HeaderActions from '@/components/layout/headerActions'
export default {
  components: { AppLinks, HeaderActions },
  head () {
    return {
      link: [
        { rel: 'stylesheet', href: 'https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/10.0.0/css/fabric.min.css' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
    header{
        display: grid;
        grid-template: 60px / auto 1fr 0.3fr;
        align-items: center;
        background-color: #019bd9;
    }
    .app-links{
        justify-self: start;
    }
    .drawer-toggle .bar {
        width: 90%;
        height: 2px;
        background-color: white;
    }
    .drawer-toggle {
        display: flex;
        justify-self: start;
        flex-direction: column;
        justify-content: space-around;
        height: 50%;
        width: 35px;
        padding-right: 16px;
        cursor: pointer;
    }
    @media (max-width: 767px) {
        header{
            padding: 0 16px;
        }
        header:nth-child{
            justify-self: end !important;
        }
        .app-links {
            display: none;
        }
    }
    @media (min-width: 768px) {
        header{
            padding: 0 64px;
        }
        .app-links {
            display: block;
        }
        .drawer-toggle {
            display: none;
        }
    }
</style>
