body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $primary-text;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.05);;
  -webkit-text-size-adjust: 100%; //fix for iOS
  margin: 0 0 0 0;
}
.lt-grid-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100vh;
  grid-template-areas: ". . .";
}
    @media (max-width: 1366px) {
.lt-grid-container {
  display: grid;
  grid-template-columns: 0% 100% 0%;
  grid-template-rows: 100vh;
  grid-template-areas: ". . .";
}
    }
.grey-bg-color {
  background-color: rgba(0, 0, 0, 0.05);
}
.nav-item a {
    text-decoration: none;
    color: #fefefe;
    font-weight: 500;
}