<template>
  <div class="lt-grid-container">
    <div class="grey-bg-color" />
    <div>
      <Logo />
    </div>
    <div class="grey-bg-color" />
  </div>
</template>

<script>
import Logo from '@/components/Logo'
export default {
  components: {
    Logo
  }
}
</script>
