$font-stack: SegoeUI;
$primary-text: #323130;
$body-background: #000000;
$light-grey: rgba(0, 0, 0, 0.05);
$dark-gregy: #f3f2f1;
$main-blue: #019bd9;
$selected-blue: rgba(1, 155, 217, 0.3);
$check-green: #6ebe43;
$star-yellow: #feaa26;
$error-red: #ed174b;
$disabled-grey: rgba(0, 0, 0, 0.3);
